body {
    background-image: url("27158187.jpg");
    background-size: cover;
}

.header {
    background-color: #f0f8ff;
    display: flex;
}

.header-logo {
    font-size: 60px;
    flex: auto;
}

.link {
    font-size: 20px;
    flex: auto;
    text-align: center;
    padding-right: 20px;
}

.header {
    margin-bottom: 20px
}
